<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>MyCO Map</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/js/gp_chatbot.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/gp_chatbot.css" />
</head>

<body>

  <% include ../partials/nav.ejs %>

  <p>Hello World</p>

</body>
</html>




































