<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>CMPE 280 Apps</h1>
    <br/>
    <a type="button" class="btn btn-lg btn-default" href="/healthCamp"><span class="fa fa-plus-square"></span> Health Camp SPA</a>
    <br/><br/>
    <a type="button" class="btn btn-lg btn-default" href="/mycoMap"><span class="fa fa-map-marker"></span> MyCO Map</a>
    <br/><br/>
    <a type="button" class="btn btn-lg btn-default" href="/gpChat"><span class="fa fa-user-md"></span> General Practitioner Chatbot</a>
    <br/><br/>
    <a type="button" class="btn btn-lg btn-default" href="/gpChat2"><span class="fa fa-user-md"></span> General Practitioner Chatbot 2</a>
    <br/><br/>
    <a type="button" class="btn btn-lg btn-default" href="/pizza"><span class="fa fa-pie-chart"></span> Build Your Own Pizza</a>
    <br/><br/>
    <a type="button" class="btn btn-lg btn-default" href="/cache"><span class="fa fa-database"></span> Redis Cache Test</a>
  </div>
</div>

</body>
</html>
