<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>MyCO Map</title>
  <style>
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript">
    function init() {
      ;
    }
  </script>
</head>

<body onload="init();">

  <% include ../partials/nav.ejs %>

  <div id="mainDiv">
    <a type="button" class="btn btn-md btn-default" href="/test">Seneca!</a>
  </div>

</body>
</html>




































