<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>MyCO Map</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/js/myco_map.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/myco_map.css" />
</head>

<body onload="init();">

  <% include ../partials/nav.ejs %>

  <div id="map"></div>
  <div id="legend"></div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdBpHQeF4cEh5apJbUgwVLdiDp7erK4LE&callback=initMap"
    async defer></script>

</body>
</html>




































